$('.modal').modal('hide');
$('table > tbody > tr:first').before("<tr><td><%= @leed.name %></td><td><%= @leed.phone %></td><td><%= @leed.date_text_sent %></td></tr>");
$('.flash-message').load(document.URL +  ' .flash-message');
