
<div class="title">
  <h1>Pingsurance</h1>
</div>
<div class="add-leed-box">
  <%= link_to image_tag('add_user.png', size:'50x50') + "Add New Lead", new_leeds_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-outline-dark'}  %>
  <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>
</div>

<% if @leeds.empty? %>
  <h3>No current leads</h3>
<% else %>
  <div class="leeds-table">
    <table class="table table-light table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Number</th>
          <th scope="col">Date Texted</th>
        </tr>
      </thead>
      <tbody>
        <% @leeds.each do |leed| %>
          <tr>
            <td><%= leed.name %></td>
            <td><%= leed.phone %></td>
            <td><%= leed.date_text_sent %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
